{{define "about"}}
{{template "header" .}}
<div>
    <img alt="CloudWeGo" class="col-lg-2 col-md-3 col-sm-4" src="/static/image/logo.jpg"/>
    <p>This is community diven project.</p>
</div>
{{template "footer"}}
{{end}}