{{define "cart-num"}}
<a class="btn position-relative" href="/cart">
    <i class="fa-solid fa-cart-shopping fa-xl">
    </i>
    {{ if $.cart_num}}
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{ $.cart_num }}
    {{ end }}
    </span>
</a>
{{end}}